.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  height: 70%;
  -webkit-box-shadow: 5px 3px 15px 2px #000000;
  box-shadow: 5px 3px 15px 2px #000000;
}
