.label {
  margin-top: 10px;
  display: flex;
  color: #000000;
  font-weight: bold;
  justify-content: space-between;

  margin-bottom: 7px;
}
.input {
  background-color: #363636;
  margin: 10px;
  color: #32cd32;
  border: none;
  outline: none;
  border-radius: 10px;
}

.divInput {
  border-bottom: 1px solid black;
}
