.formForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}
.formLabel {
  display: flex;

  align-items: center;
  color: black;
  font-weight: bolder;
}
.inputForm {
  margin: 2px;
}
