.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5 rem;
  color: #3cb371;
}
.Input {
  border: 1px solid #3cb371;
  display: block;
  transition: 0.2s;
  margin: 10px;
}
.Input:focus,
.Input:hover {
  outline: none;
  border-color: #3cb371;
  background: white;
  box-shadow: 0 0 0 3px #3cb371;
}
