.divBut button {
  display: inline-block;
  position: relative;
  left: 20%;
  border: solid 1px #90ee90;
  font-weight: bolder;
  margin-top: 1px;
}
@media (max-width: 480px) {
  .divBut {
    width: 300px;
    height: 40px;
    align-items: center;
    margin-left: 0px;
  }
}
