.Footer {
  display: flex;
  justify-content: center;
  background-color: #3cb371;
  color: white;
  margin-top: 10px;
  height: 6rem;

  width: 100%;
  align-items: center;
}
@media (max-width: 480px) {
  .Footer {
    height: 5.4rem;
  }
}
