.header {
  display: flex;
  justify-content: center;
  background-color: #90ee90;
  padding: 20px;
  width: 100%;
  align-items: center;
}

@media (max-width: 480px) {
  .header {
    align-items: center;
  }
}
