.Painel {
  display: flex;
  background-color: #90ee90;
  color: black;
  width: 200px;
  margin: 10px;
  font-size: 12px;
  animation: interacao 2s forwards;
  align-items: center;
  border-radius: 20px 0px 20px 0px;
  -webkit-box-shadow: 5px 3px 15px 2px #90ee90;
  box-shadow: 5px 3px 15px 2px #90ee90;
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.Texto {
  width: 100px;
  color: black;
}

@media (max-width: 480px) {
  .Painel {
    margin: 10px auto;
    width: 250px;
    height: 100px;
  }
  .Texto {
    margin: 50px;
  }
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
