.Resolucao {
  width: 100vh;
  display: inline-block;

  background-color: #000000;
  -webkit-box-shadow: 5px 3px 15px 2px #000000;
  box-shadow: 5px 3px 15px 2px #000000;
}
@media (max-width: 480px) {
  .Resolucao {
    margin: 10px auto;
    width: 250px;
    height: 100%;
  }
}
